@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.about-banner {
  margin-bottom: $spacing-lg;
}

.about-content {
  @include container($padding: 0 $spacing-sm);
  margin: $spacing-lg auto;

  &__collapses {
    margin: $spacing-xl 0;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: $spacing-sm;
    color: $color-text-dark;
  }

  p {
    font-size: $font-size-md;
    line-height: 1.6;
    color: $color-text-light;
    margin-bottom: $spacing-sm;
  }

  @include mobile {
    margin: $spacing-sm auto;
    h2 { font-size: $font-size-lg; }
    p  { font-size: $font-size-sm; }
  }
}
