@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.header {
  @include flex-between;
  @include container($padding: 0 $spacing-lg);
  margin: $spacing-lg auto 0;
  width: 100%;

  &__logo {
    width: 210px;
  }

  &__nav {
    display: flex;
    gap: 57px;

    a {
      font-family: $font-main;
      color: $color-black;
      text-decoration: none;
      font-size: $font-size-lg;
      font-weight: 500;
      transition: opacity 0.3s ease;

      &.active { text-decoration: underline; }
      &:hover  { opacity: 0.8; }
    }
  }

  @include mobile {
    padding: 0 $spacing-sm;
    margin-top: $spacing-sm;
    margin-bottom: $spacing-sm;

    &__logo { width: 145px; }

    &__nav {
      gap: $spacing-sm;

      a {
        font-size: $font-size-xs;
        text-transform: uppercase;
      }
    }
  }
}
